/* ##
Color Options
If you've chosen your favorite color scheme, you can delete the others
---------------------------------------------------------------------------------------------------- */

/* ## Purple
--------------------------------------------- */

.utility-pro-purple .home-gallery .fa,
.utility-pro-purple a,
.utility-pro-purple .entry-content a {
	color: $purple;
}

.utility-pro-purple .sticky.entry {
	border-top-color: $purple;
}

.utility-pro-purple .call-to-action-bar .button,
.utility-pro-purple .button,
.utility-pro-purple .entry-content .button,
.utility-pro-purple input[type="submit"] {
	background: $purple;
	border: 1px solid $white;
	color: $white;
}

.utility-pro-purple .call-to-action-bar .button:hover,
.utility-pro-purple .button:hover,
.utility-pro-purple .entry-content .button:hover,
.utility-pro-purple input[type="submit"]:hover {
	background: $white;
	border: 1px solid $purple;
	color: $purple;
}

.utility-pro-purple .utility-bar,
.utility-pro-purple .site-footer {
	background-color: rgba($purple, 0.8);
}