/* ##
Color Options
---------------------------------------------------------------------------------------------------- */

/* ## primary
--------------------------------------------- */

.utility-pro .home-gallery .fa,
.utility-pro a,
.utility-pro .entry-content a {
	color: $primary;
}

.utility-pro .sticky.entry {
	border-top-color: $primary;
}

.utility-pro .call-to-action-bar .button,
.utility-pro .button,
.utility-pro .entry-content .button,
.utility-pro input[type="submit"] {
	background: $primary;
	border: 1px solid $divider;
	color: $white;
}

.utility-pro .call-to-action-bar .button:hover,
.utility-pro .button:hover,
.utility-pro .entry-content .button:hover,
.utility-pro input[type="submit"]:hover {
	background: $white;
	border: 1px solid $divider;
	color: $primary;
}

.utility-pro .utility-bar,
.utility-pro .site-footer {
	background-color: rgba($primary, 0.8);
}